<h1>Nedodělané úkoly</h1>




<br />
<div class="card" style="width: 25rem;">
  <div class="card-header">
    Úkoly
  </div>
  <% @tasks.each do |task| %>
    <ul class="list-group list-group-flush">

      <% if task.is_done == true %>
        <%= link_to "#{task.title}", [task.project, task], class:"list-group-item card bg-success"%>
      <%else%>
        <%= link_to "#{task.title}", [task.project, task], class:"list-group-item card bg-danger"%>
      <%end %>

  <%end %>



  </ul>
</div>
<br>
<%= link_to "#{I18n.t 'tasks.all_my_tasks'}", home_alltasks_path , class:"btn btn-secondary" %>
<%= link_to "#{I18n.t 'tasks.comp_tasks'}", home_only_comp_path , class:"btn btn-dark" %>


