

<p>
  <b>Název:</b>
  <%= @tag.title %>

</p>


<%= link_to 'Editovat', edit_task_tag_path(@tag.task, @tag), class:"btn btn-dark" %>
<%= link_to 'Destroy', [@tag.task, @tag], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>

