

<p>
  <b><%= "#{I18n.t 'tags.title'}"%> :</b>
  <%= @tag.title %>
  <br>
  <br>




    </p>


<%= link_to "#{I18n.t 'forms.edit'}", edit_task_tag_path(@tag.task, @tag), class:"btn btn-dark" %>
<%= link_to "#{I18n.t 'forms.destroy'}", [@tag.task, @tag], method: :delete, data: { confirm: "#{I18n.t 'notice.are_you_sure'}" }, class: "btn btn-danger"%>

